<?xml version="1.0"?>
<launch>
   
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rb_description)/urdf/rb5_moveit.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <arg name="ip" default="10.0.2.7"/> 

  <node name="rb_connector" pkg="rb_connector" type="rb_connector" output="screen">
    <param name="ip" value="$(arg ip)"/> 
  </node>

  <arg name="pipeline" default="ompl" />
  <arg name="load_robot_description" default="true"/>

  <include file="$(find rb5_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rb_description)/launch/rb5_moveit.rviz"/>

</launch>
